
    <div class="row">
  <div class="col-md-6 col-md-offset-3">
      <h1>Compartenos tu experiencia</h1>
<h3>Para compartir tu experiencia sobre el servicio
        -bueno o malo- que prestan las rutas urbanas
        y sus operadores es necesario expliques de
        forma detallada el suceso.</h3>
  </div>
         
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <form method="POST" name="flogin" id="flogin">
      <!--<label>Nombre de usuario</label>-->
       <div class="row Formulario">
       <div class="col-md-12">
            <input type="text" placeholder="Nombre" name="name" id="name" class="form-control Nombre">
       </div>
   
      </div>
      <div class="row Formulario">
        <div class="col-md-6">
          <input type="text" placeholder="Edad" name="age" id="age" class="form-control">
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Sexo" name="gen" id="gen" class="form-control">
        </div>
      </div>
      <div class="row Formulario">
        <div class="col-md-6">
          <input type="text" placeholder="Hora del suceso" name="time" id="time" class="form-control">
        </div>
        <div class="col-md-6">
          <input type="text" placeholder="Ruta" name="ruta" id="ruta" class="form-control">
        </div>
      </div>
      </br>
      <label>Descripcion del suceso</label>
      <textarea  rows="6" name="name" id="name" class="form-control Nombre"></textarea>
      </br>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <button class="Cancelar">Cancelar</button>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <button class="Siguiente">Siguiente paso</button>
        </div>
      </div>



    </form>

      </div>

    </div>
    

