
  <ul class="nav nav-tabs nav-justified Menu">
    <li><a href="#">Compartir </a></li>
    <li><a href="#">Rutas</a></li>
    <li><a href="#">Configuración</a></li>
  </ul>

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <div class="jumbotron boxtext2">
            <center>
              <h2>¿Deseas dar a conocer tu suceso a la comunidad?</h2>
              <h4>Arroba a las personas o autoridades para
                compartirles tu suceso.</h4>
            </center>
          </div>
        </div>
      </div>
    </div>

  <div class= "row">
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" placeholder="Busqueda" name="name"  class="form-control">
        <span class="input-group-addon glyphicon glyphicon-search"></span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class= "row">
      <div class="col-md-10 col-md-offset-1">
        <div class="Tweets">
          <div class="row">
            <div class="col-md-3">
              <h3>@TransitoMYT</h3>
            </div>
            <div class="col-md-3">
              <h3>@TransitoSanNico</h3>
            </div>
            <div class="col-md-3">
              <h3>@Politran</h3>
            </div>
            <div class="col-md-1">
              <h3>@FuerzaCivil</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h3>@PoliciaRegia</h3>
            </div>
            <div class="col-md-3">
              <h3>@AlcaldeMTY</h3>
            </div>
            <div class="col-md-3">
              <h3>@AlcaldeSanNico</h3>
            </div>
            <div class="col-md-1">
              <h3>@Ruta229</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h3>@Ruta1</h3>
            </div>
            <div class="col-md-3">
              <h3>@AlcaldeApodaca</h3>
            </div>
            <div class="col-md-3">
              <h3>@SecretariaDelTransporte</h3>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="Agregar">
          <textarea  rows="6" name="name" class="form-control"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <button class="Cancelar">Cancelar</button>
    </div>
    <div class="col-md-4">
      <button class="Siguiente">Siguiente paso</button>
    </div>
  </div>

