
    <div class="row">
  <div class="col-md-6 col-md-offset-3">
      <h1>¿Deseas dar a conocer tu suceso a la comunidad?</h1>
<h3>Arroba a las personas o autoridades para
                compartirles tu suceso.</h3>
  </div>

         
    </div>
    <br>
    <div class="row" style="background-image: url('/assets/MapBackground-4614ee0e5770e376ec6430f58b3290f663773baf688e6d91e67393ab0b02d3c6.png')";>
<br>
  
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" placeholder="Busqueda" name="name"  class="form-control">
        <span class="input-group-addon glyphicon glyphicon-search"></span>
      </div>
    </div>
  
    <div class="col-md-6 col-md-offset-3">
   
   <div class="container">
    <div class= "row">
      <div class="col-md-10 col-md-offset-1">
        <div class="Tweets">
          <div class="row">
            <div class="col-md-3">
              <h3>@TransitoMYT</h3>
            </div>
            <div class="col-md-3">
              <h3>@TransitoSanNico</h3>
            </div>
            <div class="col-md-3">
              <h3>@Politran</h3>
            </div>
            <div class="col-md-1">
              <h3>@FuerzaCivil</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h3>@PoliciaRegia</h3>
            </div>
            <div class="col-md-3">
              <h3>@AlcaldeMTY</h3>
            </div>
            <div class="col-md-3">
              <h3>@AlcaldeSanNico</h3>
            </div>
            <div class="col-md-1">
              <h3>@Ruta229</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <h3>@Ruta1</h3>
            </div>
            <div class="col-md-3">
              <h3>@AlcaldeApodaca</h3>
            </div>
            <div class="col-md-3">
              <h3>@SecretariaDelTransporte</h3>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="Agregar">
          <textarea  rows="6" name="name" class="form-control"></textarea>
      </div>
    </div>
  </div>
      <div class="row">
        <div class="col-md-6">
       <!-- <button class="Siguiente">Siguiente paso</button>-->
        <input type="submit" class="Cancelar" value="Cancelar">
          
        </div>
        <div class="col-md-6">
       <input type="submit" class="Siguiente" value="Siguiente paso">
           <!--<button class="Cancelar">Cancelar</button>-->
        </div>
      </div>
  </div>

    </div>
