
    <div class="row">
  <div class="col-md-6 col-md-offset-3">
      <h1>¿Deseas dar a conocer tu suceso a la comunidad?</h1>
<h3>Arroba a las personas o autoridades para
                compartirles tu suceso.</h3>
  </div>

         
    </div>
    <br>
    <div class="row" style="background-image: url('/assets/MapBackground-4614ee0e5770e376ec6430f58b3290f663773baf688e6d91e67393ab0b02d3c6.png')";>
<br>
  
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" placeholder="Busqueda" name="name"  class="form-control">
        <span class="input-group-addon glyphicon glyphicon-search"></span>
      </div>
    </div>
  
    <div class="col-md-6 col-md-offset-3">
   
   cxcvxv
  </div>

    </div>
